@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<ul>
    <li><a asp-area="Admin" asp-controller="Game" asp-action="Index">Manage Games</a></li>
    <li><a asp-area="Admin" asp-controller="Genre" asp-action="Index">Manage Genres</a></li>
    <li><a asp-area="Admin" asp-controller="Platform" asp-action="Index">Manage Platforms</a></li>
    <li><a asp-area="Admin" asp-controller="Statistics" asp-action="Index">View Statistics</a></li>
</ul>
