@model GamesRental.Web.ViewModels.Game.GameFormViewModel

@{
    ViewData["Title"] = "Add New Game";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <partial name="_GameFormPartial" model="Model" />
    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
