@page
@model GamesRental.Web.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<h1>Log out</h1>

<form method="post">
    <p>Are you sure you want to log out?</p>
    <button type="submit" class="btn btn-danger">Log out</button>
</form>
